modules = ["web", "python-3.12"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run PUBG UC Marketplace"

[[workflows.workflow]]
name = "Run PUBG UC Marketplace"
author = 44905847
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
